.hidden {
    visibility: hidden;
}

.search-bar {
    display: flex;
    flex-direction: row;
}

.search-bar > * {
    margin: 10px !important;
}

.search-bar .facetwp-search {
    min-width: unset !important;
}

.material-grid, .search-filters {
    display: grid;
    grid-gap: 30px;
    align-content: space-around;
    margin-top: 20px;
}

.entry-content {
    position: relative;
}

.edit-button {
    grid-area: edit;
    text-align: center;
    height: fit-content;
}

.edit-button a {
    height: 100% !important;
    background: #fffbd5;
}

.edit-button img {
    height: 30px;
    width: 30px;
}

.material-detail-grid {
    display: grid;
    grid-gap: 20px;
}

.material-title{
    border-bottom: 1px solid #ccc;
}

.material-content {
    grid-area: content;
    background: white;
    padding: 30px;
    max-width: var(--narrow-container-max-width);
}

.material-content .wp-block-post-featured-image {
    text-align: center;
}

.material-content .wp-block-post-featured-image img {
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 3px solid #fff;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.8);
}

.material-meta-table{
    word-break: break-word;
}

.material-meta-table tr td:first-child {
    width: 30px;
    padding: unset;
    text-align: center;
}

.material-meta-table .taxonomy-icon {
    margin: unset !important;
}

.material-origin {
    grid-area: origin;
    height: fit-content;
}

.material-origin h3 {
    margin-bottom: unset !important;
}

.taxonomien table , .taxonomien td{

    padding: unset;
    border-style: none;
    line-height: 15px;
    font-size: 12px;

}

.material-taxonomies {
    grid-area: taxonomies;
    background-color: #fffbd5;
    padding: 10px;
    height: fit-content;
}

.material-taxonomies img {
    margin-right: 5px;
}

.material-origin, .material-tags {
}

.material-origin div, .material-tags div {
}

.material-report {
    display: flex;
    flex-direction: column;
    grid-area: report;
    height: fit-content;
}


.search-filters {
    padding: 10px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2) !important;
    background: seashell;
}

.single-filter {
    margin: 25px;
}

.entry-card {
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2) !important;
    background: #fff;
    display: flex;
    padding: 30px !important;
}

@media only screen and (min-width: 380px) {
    .material-grid {
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-columns-gap, 30px);
        grid-row-gap: var(--grid-columns-gap, 30px);
    }

    .search-filters{
        grid-template-columns:  repeat(1, 1fr);
    }

    .material-detail-grid {
        grid-template-areas:
                "content"
                "edit"
                "taxonomies"
                "report";
    ;
        grid-template-columns: unset;
    }
}

@media only screen and (min-width: 640px) {
    .material-grid {
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-columns-gap, 30px);
        grid-row-gap: var(--grid-columns-gap, 30px);
    }
    .search-filters{
        grid-template-columns:  repeat(3, 1fr);
    }

    .material-detail-grid {
        grid-template-areas:
                "content edit"
                "content taxonomies"
                "content report";

        grid-template-rows: 50px auto auto;
    }

}


@media only screen and (min-width: var(--normal-container-max-width)) {
    .material-grid {
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-columns-gap, 30px);
        grid-row-gap: var(--grid-columns-gap, 30px);
    }

    .search-filters{
        grid-template-columns:  repeat(3, 1fr);
    }
    .material-detail-grid{
        grid-template-columns: var(--narrow-container-max-width) auto;
    }
}

.material-grid .facet-treffer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.material-title h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    display: table;
    min-height: 110px;
    margin-top: -24px !important;
}

.material-title h2 a {
    display: table-cell;
    vertical-align: middle;
}

.material-picture {
    position: relative;
    display: flex;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #00a66f;
}

.material-picture:hover {
    border-color: #e830b5;
}

.material-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.taxonomy-icon {
    width: 18px;
    height: 18px;
}

.filter-icon {
    width: 36px;
    height: 36px;
}

.ct-ghost {
    margin: auto;
}

.excerpt {
    margin-bottom: 10px;
    line-height: 1.3em;
    margin-top: 20px;
    font-size: 0.9em
;
}

.material-report.inner{
    border-width: var(--table-border-width, 1px);
    border-style: var(--table-border-style, solid);
    border-color: var(--table-border-color, var(--border-color));
    padding: 5px;
}
.material-report.inner .unchecked{
    margin: 20px 0 0 20px;
}

details.material-report{
    max-width: 400px;
}


details.material-report summary{
    list-style-type: none;
}

details .material-report-description{
    padding-left: 33px;
}
details.material-report summary span {
    display: inline-block;
    width: 29px;
    border: 1px solid var(--table-border-color, var(--border-color));
    height: 29px;
    padding-left: 2px;
    margin-top: 6px;
}
.available{
    color: black;
}
.missing{
    color: #aaa;
}
