:root{
    --reli-accent-color: var(--linkInitialColor);
    --reli-accent-color-hover: var(--linkHoverColor);

    --reli-accent-background : #fff;
    --reli-accent-background-hover : #e0e0e0;

    --reli-background-color : #DCE2F0;

    --reli-pink-accent-color : #fe228c;
    --reli-blue-accent-color : #04a3e5;
    --reli-yellow-accent-color : #e7c945;
}

.hidden {
    visibility: hidden;
}

.button.deny{
    background-color: var(--reli-pink-accent-color);
}
.button.deny:hover{
    background-color: var(--reli-yellow-accent-color);
}
.anbieter-box{
    margin: 15px 0;
}
.anbieter-box a{
    text-align: right;

}

.search-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--content-spacing);
}

.search-bar > * {
    margin: 10px !important;
}

.search-bar button {
    background-color: var(--reli-accent-color);
    padding: 5px 20px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    min-height: 42px;
}
.search-bar button:hover {
    color: var(--buttonTextHoverColor);
    background-color: var(--buttonHoverColor);
}

.search-bar .facetwp-input-wrap{
    background-color: white;
    border: 1px solid grey;
    min-width: 300px;
    border-radius: 4px;
}
.search-filter-selections span:not(.facetwp-selection-label){
    margin: 2px;
    padding: 10px 15px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: var(--reli-blue-accent-color);
    color: white;
    font-weight: bold;
    background-position: right 10px center;
    cursor: pointer;
}

.search-filter-selections span:hover:not(.facetwp-selection-label) {
    background-color: var(--reli-yellow-accent-color);
}

.search-bar .facetwp-search {
    min-width: unset !important;
}

.material-grid, .search-filters {
    display: grid;
    grid-gap: 30px;
    align-content: space-around;
    margin-top: 20px;
}

.entry-content {
    position: relative;
}

.edit-button {
    grid-area: edit;
    text-align: center;
    height: fit-content;
}

.edit-button a {
    height: 100% !important;
    background: #fffbd5;
}

.edit-button img {
    height: 30px;
    width: 30px;
}

.material-detail-grid {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.material-title{
    border-bottom: 1px solid #ccc;
}

.material-content {
    grid-area: content;
    background: white;
    padding: 30px;
    max-width: var(--narrow-container-max-width);
}

.material-content .wp-block-post-featured-image {
    text-align: center;
}

.material-content .wp-block-post-featured-image img {
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 3px solid #fff;
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.8);
}

.material-meta-table{
    word-break: break-word;
}

.material-meta-table tr td:first-child {
    width: 30px;
    padding: unset;
    text-align: center;
}

.material-meta-table .taxonomy-icon {
    margin: unset !important;
}

.material-origin {
    grid-area: origin;
    height: fit-content;
}

.material-origin h3 {
    margin-bottom: unset !important;
}

.taxonomien table , .taxonomien td{

    padding: unset;
    border-style: none;
    line-height: 15px;
    font-size: 12px;

}

.material-taxonomies {
    grid-area: taxonomies;
    background-color: #fffbd5;
    padding: 10px;
    height: fit-content;
}

.material-taxonomies img {
    margin-right: 5px;
}

.material-origin, .material-tags {
}

.material-origin div, .material-tags div {
}

.material-report {
    display: flex;
    flex-direction: column;
    grid-area: report;
    height: fit-content;

}
.material-report.inner .material-report summary{
    cursor: pointer;
    padding: 5px;
}

.material-report.inner .material-report summary:hover{
    background-color: #e0e0e0;
    color: black;
    border-radius: 5px;
}

.material-report.inner .material-report summary:hover span{
    border-color: black;
}


.search-filters , .search-tutorial ,.termin-term-filter{
    padding: 10px;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2) !important;
    background: seashell;
}
.termin-term-filter #dateSelector{
    margin-bottom: 10px;
}
#termineSearchForm summary{
    margin-bottom: 10px;
}

.search-tutorial-button{
    float: right;
}

.organisation-search-filters {
    margin-bottom: var(--content-spacing);
}

.single-filter {
    margin: 25px;
}

.material-grid .entry-card {
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2) !important;
    background: #fff;
    display: flex;
    padding: unset !important;
}
.material-title
{
    padding: 30px;
    background-color: var(--reli-background-color);
    border-bottom: 2px solid;
    border-color: var(--reli-accent-color);
}
.material-card-content{
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1024px) {
    .material-grid {
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-columns-gap, 30px);
        grid-row-gap: var(--grid-columns-gap, 30px);
    }
    .material-content{
        padding: 5px;
    }

    .search-filters{
        grid-template-columns:  repeat(1, 1fr);
    }

    .material-detail-grid {
        grid-template-areas:
                "content"
                "edit"
                "taxonomies"
                "report";
        grid-template-columns: unset;
    }
}

@media only screen and (min-width: 1024px) {
    .material-grid {
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-columns-gap, 30px);
        grid-row-gap: var(--grid-columns-gap, 30px);
    }
    .search-filters{
        grid-template-columns:  repeat(3, 1fr);
    }

    .material-detail-grid {
        grid-template-areas:
                "content edit"
                "content taxonomies"
                "content report";

        grid-template-rows: 50px minmax(10px, auto) auto;
        grid-template-columns: 70% 30%;
    }

}


@media only screen and (min-width: var(--normal-container-max-width)) {
    .material-grid {
        grid-template-columns: var(--grid-template-columns);
        grid-column-gap: var(--grid-columns-gap, 30px);
        grid-row-gap: var(--grid-columns-gap, 30px);
    }

    .search-filters{
        grid-template-columns:  repeat(3, 1fr);
    }
    .material-detail-grid{
        grid-template-columns: var(--narrow-container-max-width) auto;
    }
}

.material-grid .facet-treffer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.material-title h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    display: table;
    min-height: 85px;
}

.material-title h2 a {
    display: table-cell;
    vertical-align: middle;
}

.material-picture {
    position: relative;
    display: flex;
    border-bottom: 2px solid;
    border-color: var(--reli-accent-color);
}

 .material-title + .material-card-content .material-picture:hover {
    border-color: var(--reli-accent-color-hover);
}

.material-picture:hover {
    border-color: var(--reli-accent-color-hover);
}

.material-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.taxonomy-icon {
    width: 18px;
    height: 18px;
}

.filter-icon {
    width: 36px;
    height: 36px;
}

.ct-ghost {
    margin: auto;
}

.excerpt {
    margin-bottom: 10px;
    line-height: 1.3em;
    margin-top: 20px;
    font-size: 0.9em;
}

details.material-report{
    max-width: 400px;
}
.material-report h3{
    padding-top: 1rem;
    padding-left: .7rem;
    margin-bottom: .7rem!important;
}

.material-report.outer {
    background: #fff;
    margin-top: 50px;
    box-shadow: 2px 2px 6px #aaa;
}
.material-report.inner{
    /*border-width: var(--table-border-width, 1px);
    border-style: var(--table-border-style, solid);
    border-color: var(--table-border-color, var(--border-color));
    */
    padding: 15px;

}

.material-report.inner .unchecked{
    margin: 20px 0 0 20px;
}


details.material-report summary{
    list-style-type: none;
}

details .material-report-description{
    padding-left: 33px;
}
details.material-report summary span {
    display: inline-block;
    width: 29px;
    border: 1px solid #aaa;
    height: 29px;
    text-align: center;
}
.available{
    color: black;
}
.missing{
    color: #aaa;
}
.edit-section {
    margin-top: 25px;
    text-align: right;

}
.edit-section details{
    margin-left: 5px;
}
.edit-section div{
    text-align: left;
}

.edit-section .organisation-edit-form{
    background-color: white;
}

.teilnehmer-liste{
    margin-top: -40px;
}
.teilnehmer-liste form{
    background-color: white;
    box-shadow: 2px 2px 3px #aaa;
    margin-top: 40px;
    padding: 30px;
}
.teilnehmer-liste svg{
    margin-right: 5px;
    fill: #ffffff;
}
.card-tag-bar{
position: relative;
}

.card-tag
{
    position: absolute;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    height: 44px;
    width: 44px;
}
.card-tag.organisation-tag{
    background-color: var(--reli-yellow-accent-color) ;
}

.card-tag.fortbildung-tag{
   background-color: var(--reli-blue-accent-color);
}
.card-tag svg{
    margin: auto;
}

.termin-list-card{
    margin: 25px 0;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2)
}
.termin-list-card .termin-list-card-header:hover h4
{
  color: var(--reli-accent-color-hover);
}

.termin-list-card .termin-list-card-header{
    padding: 15px;
    background-color: var(--reli-background-color);
    border-bottom: 2px solid var(--reli-accent-color) ;
}
.termin-list-card .termin-list-card-header .termin-daytime{
    color: black;
    font-weight: bold;
}
.termin-list-card .termin-list-card-content{
    padding: 15px;
}
.termin-list-card .termin-tags{
    padding-top: 10px;
}
.termin-list-card .termin-list-card-content .termin-subtitle{
    color: #999;
    font-weight: bold;
}

.termin-list-card .termin-date-box{
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;

}
.termin-list-card h4 {
    margin-top: unset !important;
}

.fortbildung-name{
    width: 100%;
}



.author-single-fortbildung{
    display: grid;
    grid-template-areas: 'title title''thumbnail termin';
    background-color: white;
    border-radius: 5px;
    margin: 10px 0;
    grid-template-columns: 30% 70%;
}
.author-single-fortbildung-title{
    grid-area: title;
    padding: 20px;
    background-color: var(--reli-background-color);
    margin: calc(var(--boxed-content-spacing)*-1) calc(var(--boxed-content-spacing)*-1) 0;
    border-bottom: 2px solid var(--reli-blue-accent-color);
}
.author-single-fortbildung-thumbnail{
    grid-area: thumbnail;
    width:  100px;
   margin: 20px auto;

}
.author-single-fortbildung-termine{
    grid-area: termin;
}

.author-profile{
    text-align: center;
}

article.fortbildung .ct-image-container img{
    border-top: 2px solid var(--reli-blue-accent-color);
    border-bottom:2px solid var(--reli-blue-accent-color) ;
}
article.organisation .ct-image-container img{
    border-top: 2px solid var(--reli-yellow-accent-color);
    border-bottom:2px solid var(--reli-yellow-accent-color) ;
}