.fortbildung-date {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    font-weight: bold;
    width: fit-content;
}

.fortbildung-organisation a {
    width: fit-content;
}

.fortbildung-organisation .single-organisation ,
.fortbildung-contactperson .single-contactperson,
.organisation-contactperson .single-contactperson{
    width: fit-content;
    background-color: var(--reli-accent-background);
    border-radius: 15px;
}

.fortbildung-organisation .single-organisation .single-organisation-spacer,
.fortbildung-contactperson .single-contactperson .single-contactperson-spacer,
.organisation-contactperson .single-contactperson .single-contactperson-spacer
{
    padding: 5px 15px;
    display: flex;
}

.fortbildung-organisation .single-organisation:hover ,
.fortbildung-contactperson .single-contactperson:hover,
.organisation-contactperson .single-contactperson:hover{
    background-color: var(--reli-accent-background-hover);
}

.fortbildung-organisation .single-organisation .single-organisation-spacer span,
.fortbildung-contactperson .single-contactperson .single-contactperson-spacer span,
.organisation-contactperson .single-contactperson .single-contactperson-spacer span
{
    margin: auto;
}

.fortbildung-organisation img,
.fortbildung-contactperson img,
.organisation-contactperson img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.fortbildung-organisation .single-logo,
.fortbildung-contactperson .single-logo,
.organisation-contactperson .single-logo{
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 15px;
}
.fortbildung-organisation span,
.fortbildung-contactperson span,
.organisation-contactperson span{
   width: 60%;
}

.fortbildung-joinlink {
    text-align: center;
}

.reli-post-grid {
    position: relative;
}


.reli-post-grid.author {
    background-color: white;
}

.reli-content {
    padding: 20px;
    width: 70%;

}

.reli-top-section {
    display: flex;
    background-color: var(--reli-background-color);
    margin: calc(var(--boxed-content-spacing)*-1) calc(var(--boxed-content-spacing)*-1) 0;
    padding: var(--boxed-content-spacing) var(--boxed-content-spacing) 0;
    height: fit-content;
}
.reli-top-section.materialien{
    border-bottom: 2px solid var(--reli-accent-color);
}
.reli-top-section.fortbildung{
    border-bottom: 2px solid var(--reli-blue-accent-color);
}
.reli-top-section.organisation{
    border-bottom: 2px solid var(--reli-yellow-accent-color);
}

.reli-header {
    width: 70%;
    padding: 30px;
}

.reli-sidebar {
    width: 30%;
    background-color: white;
    position: absolute;
    float: right;
    right: 10px;
    top: 30px;
    box-shadow: 2px 2px 6px #aaa;
}

.reli-sidebar-section {
    padding: 20px;
    border: 1px solid lightgrey;
}
.organisation-title-logo{
    text-align: center;
}
.organisation-tags{
    margin-bottom: 15px;
}

.organisation-logo {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    background-position: center;
    background-size: cover;
}

.organisation-referral-links{
    text-align: center;
}
.organisation-referral-links a{
    margin: 5px 0;
}
.wp-block-post-featured-image img{
    object-fit: contain;
}
.wp-block-post-featured-image{
    margin: 25px 0;
}
.reli-sidebar-section td {
    border-color: white;
}
.reli-report-section {
    background-color: var(--reli-background-color);
}

/* Termin Box Display */
.single-termin{
    display: flex;
    margin: 5px 0;
}
.single-termin .termin-date-box{
    text-align: center;
    border-right: 3px solid var(--reli-accent-color);
    padding-right: 10px;
    color: var(--reli-accent-color);
}
.single-termin .termin-daytime{
    margin: auto 5px;
}
.single-termin .termin-day{
    font-size: xxx-large;
}
.single-termin .termin-month{
    font-size: small;
}
.single-termin .termin-note{
    padding-left: 10px;
    width: fit-content;
}

.reli-sidebar-fortbildungen summary{
    background-color: var(--reli-accent-background);
    border-radius: 5px;
}
.reli-sidebar-fortbildungen summary:hover{
    background-color: var(--reli-accent-background-hover);
    cursor: pointer;
}

.author-profile-card img {
    width: 125px;
    border-radius: 50%;
}
.author-profile-card-details h1{
    background-color: var(--reli-pink-accent-color);
    color: white;
    width: fit-content;
    padding: 5px 40px;
    margin: 15px auto;
    border-radius: 2px;
}
.author-profile-card-details p {
    text-align: left;
    padding: 15px;
    background-color: rgba(250,250,250,0.7);
}
.reli-top-section.author {
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid var(--reli-pink-accent-color);
}

@media only screen and (max-width: 1024px) {

    .reli-post-grid {
        display: unset;
    }

    .reli-top-section {
        display: grid;
        padding: unset;
    }

    .reli-header {
        width: unset;
    }

    .reli-sidebar {
        position: unset;
        width: unset;
        margin-bottom: 15px;
    }

    .reli-content {
        width: unset;
        padding: unset;
    }

}